<template name="forgotPassword">
  <div class="login-form-wrapper forgot-password-wrapper">
    <div class="row form-heading">
      <div class="col-lg-12">
        <p class="lead">Recover Password</p>
      </div>
    </div>
    <div class="row login-form">
      <div class="col-lg-12">
        <form class="form">
          {{#if linkSent}}
          <p class="lead text-muted small" style="font-size: 16px;">We've sent a reset link to your inbox. Please click the link to reset your password.</p>
          {{/if}}
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" disabled="{{isResettingPassword}}">
          </div>

          <button type="submit" class="btn btn-warning login" disabled="{{isResettingPassword}}">
            {{#if isResettingPassword}}
            <i class="fa fa-gear fa-spin"></i> One moment please...
            {{else}}
              Reset Password
            {{/if}}
          </button>
          <a href="{{pathFor 'login'}}" class="btn btn-success btn-lg back-to-homepage">Back</a>
        </form>   
        <span id="help-links" class="help-block help-links">
          <a href="{{pathFor 'login'}}">Back to Login</a> &middot; <a href="{{pathFor 'signup'}}">Signup</a>
        </span>
      </div>
    </div>
  </div>
</template>
