<template name="resetPassword">
  <div class="login-form-wrapper reset-password-wrapper">
    <div class="row form-heading">
      <div class="col-lg-12">
        <p class="lead">Reset Password</p>
      </div>
    </div>
    <div class="row login-form">
      <div class="col-lg-12">
        {{#if Template.subscriptionsReady}}
        {{#if linkIsValid}}
        {{#if passwordChanged}}
        <p class="lead text-muted" style="color: #aaa; font-size: 18px;">You password has been changed.<br /> Click <a href="{{pathFor 'login'}}">here</a> to login with your new password.</p>
        {{else}}
        <form class="form">
          <p class="lead text-muted small" style="font-size: 16px;">Resetting password for {{email}}</p>
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input type="password" class="form-control" id="new-password" disabled="{{isResettingPassword}}">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" disabled="{{isResettingPassword}}">
          </div>

          <button type="submit" class="btn btn-warning login" disabled="{{isResettingPassword}}">
            {{#if isResettingPassword}}
            <i class="fa fa-gear fa-spin"></i> One moment please...
            {{else}}
              Reset Password
            {{/if}}
          </button>
          <a href="{{pathFor 'login'}}" class="btn btn-success btn-lg back-to-homepage">Back</a>
        </form>   
        <span id="help-links" class="help-block help-links">
          <a href="{{pathFor 'login'}}">Back to Login</a> &middot; <a href="{{pathFor 'signup'}}">Signup</a>
        </span>
        {{/if}}
        {{else}}
        <p class="lead text-muted" style="color: #f00; font-size: 17px;">Sorry. This link appears to have expired or is invalid.</p>
        <p class="lead text-muted" style="font-size: 17px;">To have another link sent to you by email.<br /> Please follow <a href="{{pathFor 'forgotPassword'}}">this link</a>.</p>
        {{/if}}
        {{else}}
        <p class="lead text-muted" style="color: #61c1b8; font-size: 19px;">One moment please...</p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
