<template name="signup">
  <div class="signup-form-wrapper">
    <div class="row form-heading">
      <div class="col-lg-12">
        <p class="lead">Create Your Account</p>
      </div>
    </div>
    <div class="row signup-form">
      <div class="col-lg-12">
        <form class="form">
          <div class="form-group">
            <label for="full-name">Full Name</label>
            <input type="text" class="form-control" id="full-name" disabled="{{accountCreationInProgress}}">
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="email" class="form-control" id="email" disabled="{{accountCreationInProgress}}">
          </div>
          <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="text" class="form-control" id="telephone" disabled="{{accountCreationInProgress}}">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" disabled="{{accountCreationInProgress}}">
          </div>

          <button type="submit" class="btn btn-warning create-account" disabled="{{accountCreationInProgress}}">
            {{#if accountCreationInProgress}}
            <i class="fa fa-gear fa-spin"></i> One moment please...
            {{else}}
              Create My Account
            {{/if}}
          </button>
          <a href="{{pathFor 'index'}}" class="btn btn-success btn-lg back-to-homepage">Back</a>
        </form>   
        <span id="help-links" class="help-block help-links">
          Have an account? <a href="{{pathFor 'login'}}">Log In</a>
        </span>
      </div>
    </div>
  </div>
</template>
