<template name="createList">
  <div class="row">
    <div class="col-lg-2 sidebar">
      <a href="{{pathFor 'lists'}}" class="btn btn-danger create-list btn-lg"><i class="fa fa-chevron-circle-left"></i> Go Back</a>
    </div>
    <div class="col-lg-10 new-list-form-area">
      <div class="row">
        <div class="col-lg-12 form-box">
          <div class="header">
            <div class="row">
              <div class="col-lg-9">
                <input class="" size="40" placeholder="Your List Name..." type="text" name="list-name" id="list-name" />
              </div>
              <div class="col-lg-3 saving-spinner-box">
                {{#if previouslySaved}}
                {{#if updatingListName}}
                <i class="fa fa-refresh fa-spin fa-2x text-muted saving-spinner"></i>
                {{else}}
                <i class="fa fa-check fa-2x text-muted done-save"></i>
                {{/if}}
                {{/if}}
              </div>
            </div>
            {{#if hasItems}}
            {{#if showAddItemForm}}
            {{else}}
            <div class="row">
              <div class="col-lg-12">
                <button class="btn btn-success show-items-list-add-btn show-add-item-form-trigger" type="button">
                  <i class="fa fa-plus"></i> Add Item
                </button>
              </div>
            </div>
            {{/if}}
            {{/if}}
          </div>
          {{#if hasItems}}
            {{#if showAddItemForm}}
            {{> addItemForm}}
            {{/if}}
          <div class="items">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Item Description</th>
                  <th>Brand</th>
                  <th>Quantity</th>
                  <th>Packing Unit</th>
                </tr>
              </thead>
              <tbody>
                {{#each listItems}}
                  <tr>
                    <td>{{description}}</td>
                    <td>{{brand}}</td>
                    <td>{{quantity}}</td>
                    <td>{{packingUnit}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          {{else}}
            {{#if showAddItemForm}}
            {{> addItemForm}}
            {{else}}
              <div class="no-items">
                <p class="lead text-muted">No items here yet.</p>
                {{#if previouslySaved}}
                  <button type="button" class="btn btn-success btn-lg show-add-item-form-trigger"><i class="fa fa-plus"></i> Add Item</button>
                {{/if}}
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
