<template name="shopperAccount">
  <div class="row shopper-account">
    <div class="col-lg-2 sidebar">
      <p class="lead"><i class="fa fa-user"></i> Account</p>
    </div>
    <div class="col-lg-10 profile-information">
      <div class="row">
        {{#if Template.subscriptionsReady}}
        <div class="col-lg-12"> 
          <div class="section">
            <h3 class="heading">Account Credentials</h3>
            <table class="table">
              <tbody>
                <tr>
                  <td>Email</td>
                  <td>{{email}}</td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>&ofcir;&ofcir;&ofcir;&ofcir;&ofcir;&ofcir;</td>
                  <td><a href="#" class="show-password-change-modal" data-toggle="modal" data-target="#change-password-modal">Change Password</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="section">
            <h3 class="heading">Personal Information</h3>
            <table class="table">
              <tbody>
                <tr>
                  <td>Full Name</td>
                  <td>
                    {{#if editingFullname}}
                    <input type="text" value="{{fullName}}" class="fullname-edit-input" disabled="{{updatingFullname}}" />
                    {{else}}
                    {{fullName}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if editingFullname}}
                    {{#if updatingFullname}}
                    <span>Please wait...</span>
                    {{else}}
                    <a href="#" class="save-fullname-changes" title="Save Changes"><i class="fa fa-save"></i></a> &nbsp;
                    <a href="#" class="cancel-fullname-edit" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                    {{/if}}
                    {{else}}
                    <a href="#" class="edit-name">Change</a>
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Telephone</td>
                  <td>
                    {{#if editingTelephone}}
                    <input type="text" value="{{telephone}}" class="telephone-edit-input" disabled="{{updatingTelephone}}" />
                    {{else}}
                    {{telephone}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if editingTelephone}}
                    {{#if updatingTelephone}}
                    <span>Please wait...</span>
                    {{else}}
                    <a href="#" class="save-telephone-changes" title="Save Changes"><i class="fa fa-save"></i></a> &nbsp;
                    <a href="#" class="cancel-telephone-edit" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                    {{/if}}
                    {{else}}
                    <a href="#" class="edit-telephone">Change</a>
                    {{/if}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="section">
            <h3 id="address-section-heading" class="heading">Address</h3>
            {{#if addressIsPinnableOnMap}}
            <div class="map">
              <div id="canvas"></div>
            </div>
            {{renderMap}}
            {{/if}}
            {{#if hasAddress}}
            <div class="panel panel-default">
              <div class="panel-body text-muted">
                <strong>Important:</strong> If you use the link below to automatically fill out your address, the address information might be incorrect (in some cases), depending on where you are currently located.<br /> <br /> This is because some neighborhoods have poor coverage on Google maps. So please be sure to double check the address before saving.
              </div>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  {{#if gettingCurrentLocation}}
                  <td colspan="2"><p class="lead text-muted" style="font-size: 16px; margin-bottom: 0;">Fetching your current location...</p></td>
                  {{else}}
                  <td colspan="2" class="text-muted">Update your address details or <a href="#" id="current-address-use-current-location">use your current location</a></td>
                  {{/if}}
                </tr>
                <tr>
                  <td>House Number</td>
                  <td>
                    {{#if editingCurrentAddressHouseNumber}}
                    <input value="{{currentAddress.houseNumber}}" class="current-address-edit-input" id="current-address-house-number" type="text" disabled="{{updatingCurrentAddressHouseNumber}}" />
                    {{else}}
                    {{currentAddress.houseNumber}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if editingCurrentAddressHouseNumber}}
                    {{#if updatingCurrentAddressHouseNumber}}
                    <span>Please wait...</span>
                    {{else}}
                    {{#unless bulkEditingCurrentAddressViaMaps}}
                    <a href="#" class="save-current-address-house-number-changes" title="Save Changes"><i class="fa fa-save"></i></a> &nbsp;
                    <a href="#" class="cancel-current-address-house-number-edit" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{else}}
                    <a href="#" class="edit-current-address-house-number">Change</a>
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Street Name</td>
                  <td>
                    {{#if editingCurrentAddressStreet}}
                    <input value="{{currentAddress.street}}" class="current-address-edit-input" id="current-address-street-name" type="text" disabled="{{updatingCurrentAddressStreet}}" />
                    {{else}}
                    {{currentAddress.street}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if editingCurrentAddressStreet}}
                    {{#if updatingCurrentAddressStreet}}
                    <span>Please wait...</span>
                    {{else}}
                    {{#unless bulkEditingCurrentAddressViaMaps}}
                    <a href="#" class="save-current-address-street-changes" title="Save Changes"><i class="fa fa-save"></i></a> &nbsp;
                    <a href="#" class="cancel-current-address-street-edit" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{else}}
                    <a href="#" class="edit-current-address-street">Change</a>
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Suburb</td>
                  <td>
                    {{#if editingCurrentAddressSuburb}}
                    <input value="{{currentAddress.suburb}}" class="current-address-edit-input" id="current-address-suburb" type="text" disabled="{{updatingCurrentAddressSuburb}}" />
                    {{else}}
                    {{currentAddress.suburb}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if editingCurrentAddressSuburb}}
                    {{#if updatingCurrentAddressSuburb}}
                    <span>Please wait...</span>
                    {{else}}
                    {{#unless bulkEditingCurrentAddressViaMaps}}
                    <a href="#" class="save-current-address-suburb-changes" title="Save Changes"><i class="fa fa-save"></i></a> &nbsp;
                    <a href="#" class="cancel-current-address-suburb-edit" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{else}}
                    <a href="#" class="edit-current-address-suburb">Change</a>
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td>Notes</td>
                  <td>
                    {{#if editingCurrentAddressNotes}}
                    <textarea value="{{currentAddress.notes}}" class="current-address-edit-input" id="current-address-notes" disabled="{{updatingCurrentAddressNotes}}"></textarea>
                    {{else}}
                    {{currentAddress.notes}}
                    {{/if}}
                  </td>
                  <td>
                    {{#if editingCurrentAddressNotes}}
                    {{#if updatingCurrentAddressNotes}}
                    <span>Please wait...</span>
                    {{else}}
                    {{#unless bulkEditingCurrentAddressViaMaps}}
                    <a href="#" class="save-current-address-notes-changes" title="Save Changes"><i class="fa fa-save"></i></a> &nbsp;
                    <a href="#" class="cancel-current-address-notes-edit" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{else}}
                    <a href="#" class="edit-current-address-notes">Change</a>
                    {{/if}}
                  </td>
                </tr>
                {{#if bulkEditingCurrentAddressViaMaps}}
                <tr>
                  <td></td>
                  <td><button class="btn btn-success bulk-save-current-address-changes" disabled="{{bulkUpdatingCurrentAddress}}">
                      {{#if bulkUpdatingCurrentAddress}}
                        Please wait...
                      {{else}}
                        Save Changes
                      {{/if}}
                  </button></td>
                  <td></td>
                </tr>
                {{/if}}
              </tbody>
            </table>
            {{else}}
            <div class="panel panel-default">
              <div class="panel-body text-muted">
                <strong>Important:</strong> If you use the link below to automatically fill out your address, the address information might be incorrect (in some cases), depending on where you are currently located.<br /> <br /> This is because some neighborhoods have poor coverage on Google maps. So please be sure to double check the address before saving.
              </div>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  {{#if gettingCurrentLocation}}
                  <td colspan="2"><p class="lead text-muted" style="font-size: 16px; margin-bottom: 0;">Fetching your current location...</p></td>
                  {{else}}
                  <td colspan="2" class="text-muted">Type it out or <a href="#" id="new-address-use-current-location">use your current location</a></td>
                  {{/if}}
                </tr>
                <tr>
                  <td>House Number</td>
                  <td><input class="new-address-input" id="new-address-house-number" type="text" disabled="{{savingNewAddress}}" /></td>
                </tr>
                <tr>
                  <td>Street Name</td>
                  <td><input class="new-address-input" id="new-address-street-name" type="text" disabled="{{savingNewAddress}}" /></td>
                </tr>
                <tr>
                  <td>Suburb</td>
                  <td><input class="new-address-input" id="new-address-suburb" type="text" disabled="{{savingNewAddress}}" /></td>
                </tr>
                <tr>
                  <td>Description / Notes</td>
                  <td><textarea class="new-address-input" id="new-address-notes" disabled="{{savingNewAddress}}"></textarea></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><button type="button" class="btn btn-success" id="new-address-save" disabled="{{savingNewAddress}}"><i class="fa fa-plus"></i> Save Address</button></td>
                </tr>
              </tbody>
            </table>
            {{/if}}
          </div>
        </div>
        {{else}}
        <div class="col-lg-12">
          <p class="lead">Loading...</p>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Change Password</h4>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
              <input disabled="{{isChangingPassword}}" type="password" class="form-control" id="current-password" placeholder="Current Password">
            </div>
            <div class="form-group">
              <input disabled="{{isChangingPassword}}" type="password" class="form-control" id="new-password" placeholder="New Password">
            </div>
            <div class="form-group">
              <input disabled="{{isChangingPassword}}" type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default cancel-password-change" data-dismiss="modal" disabled="{{isChangingPassword}}">Cancel</button>
          <button type="button" class="btn btn-success change-password" disabled="{{isChangingPassword}}">
            {{#if isChangingPassword}}
            One moment please...
            {{else}}
            Change Password
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
