<template name="viewList">
  <div class="row">
    <div class="col-lg-2 sidebar">
      <a href="{{pathFor 'lists'}}" class="btn btn-danger create-list btn-lg"><i class="fa fa-chevron-circle-left"></i> View Lists </a>
      <br />
      <br />
      <a href="#" class="btn btn-danger delete-list btn-lg">
        {{#if deletingList}}
        Please wait..
        {{else}}
        <i class="fa fa-trash"></i> Delete List
        {{/if}}
      </a>
    </div>
    <div class="col-lg-10 new-list-form-area">
      <div class="row">
        {{#if Template.subscriptionsReady}}
        <div class="col-lg-12 form-box">
          <div class="header">
            <div class="row">
              <div class="col-lg-9">
                <input class="" size="40" placeholder="Your List Name..." value="{{list.name}}" type="text" name="list-name" id="list-name" />
              </div>
              <div class="col-lg-3 saving-spinner-box">
                  {{#if showHeaderSpinner}}
                    <i class="fa fa-refresh fa-spin fa-2x text-muted saving-spinner"></i>
                  {{else}}
                  <i class="fa fa-check fa-2x text-muted done-save"></i>
                  {{/if}}
              </div>
            </div>
            {{#if hasItems}}
            {{#if showAddItemForm}}
            {{else}}
            <div class="row">
              <div class="col-lg-12 delivery-date-box">
                <p class="lead text-muted" style="font-size: 17px; padding-top: 15px;">Delivers on: 
                  <span style="color: #61c1b8;">{{deliveryDateFromNow}}</span>
                  <a href="#" id="set-delivery-date">[Change]</a>
                </p>
                {{#if showDeliveryDatePicker}}
                <div class="input-group datetimepicker" id="delivery-date-picker-box">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input class="set-due-date form-control" disabled="{{updatingDeliveryDate}}" id="delivery-date" type="text"/>
                </div>
                <div class="input-group" id="" style="margin-top: 20px;">
                  <button class="btn btn-success" id="save-delivery-date" disabled="{{updatingDeliveryDate}}">
                    {{#if updatingDeliveryDate}}
                    One moment please...
                    {{else}}
                    Set Delivery Date
                    {{/if}}
                  </button>
                  <button class="btn btn-danger" id="cancel-delivery-date-change" disabled="{{updatingDeliveryDate}}">Cancel</button>
                </div>
                {{/if}}
              </div>
              {{#unless showDeliveryDatePicker}}
              <div class="col-lg-12">
                <button class="btn btn-success show-items-list-add-btn show-add-item-form-trigger" type="button">
                  <i class="fa fa-plus"></i> Add Item
                </button>
              </div>
              {{/unless}}
            </div>
            {{/if}}
            {{/if}}
          </div>
          {{#if hasItems}}
            {{#if showAddItemForm}}
            {{> addItemForm}}
            {{/if}}
          <div class="items">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>Item Description</th>
                  <th>Brand</th>
                  <th>Quantity</th>
                  <th>Packing Unit</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{#each listItems}}
                  <tr>
                    <td>
                      {{#if isEditingItem _id}}
                      {{#if isSavingChangesToItem _id}}
                        <i class="fa fa-refresh fa-spin saving-changes-to-item-spinner"></i>
                      {{else}}
                        <a href="#" class="save-changes-link" title="Save Changes"><i class="fa fa-save"></i></a>&nbsp;
                        <a href="#" class="cancel-edit-link" title="Cancel Edit"><i class="fa fa-times-circle"></i></a>
                      {{/if}}
                      {{else}}
                        <a href="#" class="edit-item-link" title="Edit Item"><i class="fa fa-pencil"></i></a>
                      {{/if}}
                    </td>
                    <td>
                      {{#if isEditingItem _id}}
                      <input type="text" value="{{description}}" name="new-item-description" id="new-item-description" disabled="{{isSavingChangesToItem _id}}" />
                      {{else}}
                        {{description}}
                      {{/if}}
                    </td>
                    <td>
                      {{#if isEditingItem _id}}
                      <input type="text" value="{{brand}}" name="new-item-brand" id="new-item-brand" disabled="{{isSavingChangesToItem _id}}" />
                      {{else}}
                      {{brand}}
                      {{/if}}
                    </td>
                    <td>
                      {{#if isEditingItem _id}}
                      <input type="number" value="{{quantity}}" min="1" max="100" name="new-item-quantity" id="new-item-quantity" disabled="{{isSavingChangesToItem _id}}" />
                      {{else}}
                        {{quantity}}
                      {{/if}}
                    </td>
                    <td>
                      {{#if isEditingItem _id}}
                      {{> itemPackingUnitOptions}}
                      {{else}}
                      {{packingUnit}}
                      {{/if}}
                    </td>
                    <td>
                      {{#if isEditingItem _id}}
                      {{else}}
                      <a href="#" class="remove-item-link" title="Remove Item"><i class="fa fa-trash"></i></a>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          {{else}}
            {{#if showAddItemForm}}
            {{> addItemForm}}
            {{else}}
              <div class="no-items">
                <p class="lead text-muted">No items here yet.</p>
                <button type="button" class="btn btn-success btn-lg show-add-item-form-trigger"><i class="fa fa-plus"></i> Add Item</button>
              </div>
            {{/if}}
          {{/if}}
        </div>
        {{else}}
          <p class="lead">Loadin...</p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
