.index-wrapper {
  background-color: #72cd5f;
  background-color: #61c1b8;
  color: #fff;
  text-align: center;
  height: 100vh;
  padding: 4em;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .brand {
    margin-top: 30px;
  }
  .service-explanation {
    .headline {
      font-size: 30px;
      margin-bottom: 5px;
      margin-top: 40px;
      text-transform: uppercase;
    }
    .sub {
      font-size: 18px;
      font-style: italic;
      -webkit-font-smoothing: antialiased;
    }
  }
  .links {
    margin-top: 2em;
    .btn {
      @include border-radius(8px);
      border-width: 2px;
      padding: 7px 16px;
      @include color-button(#fff);
      color: #61c1b8;
    }
    .btn:hover {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
    }
  }
}
