.index-wrapper {
  background-color: #72cd5f;
  background-color: #61c1b8;
  color: #fff;
  text-align: center;
  height: 100vh;
  padding: 4em;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .brand {
    margin-top: 30px;
    img {
      width: 300px;
    }
  }
  .service-explanation {
    .headline {
      font-size: 30px;
      margin-bottom: 5px;
      margin-top: 40px;
      text-transform: uppercase;
    }
    .sub {
      font-size: 18px;
      font-style: italic;
      -webkit-font-smoothing: antialiased;
    }
  }
  .links {
    margin-top: 2em;
    .btn {
      @include border-radius(8px);
      border-width: 2px;
      padding: 7px 16px;
      @include color-button(#fff);
      color: #61c1b8;
    }
    .btn:hover {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
    }
  }
}

@media (max-width: 400px) {
  .index-wrapper {
    .brand {
      img {
        width: 268px;
      }
    }
  }
}

@media (max-width: 375px) {
  .index-wrapper {
    .brand {
      img {
        width: 248px;
      }
    }
    .service-explanation .headline {
      font-size: 25px;
    }
  }
}

@media (max-width: 348px) {
  .index-wrapper {
    padding: 25px;
    .brand {
      img {
        width: 228px;
      }
    }
    .service-explanation .headline {
      font-size: 20px;
    }
    .links .btn {
      display: block;
    }
  }
}

@media (max-width: 320px) {
  .index-wrapper {
    .service-explanation .headline {
      font-size: 18px;
    }
  }
}
