.login-form-wrapper {
  padding: 3em;
  width: 37%;
  margin: 0 auto;
  .form-heading {
    .lead {
      font-weight: bold;
      color: #61c1b8;
      -webkit-font-smoothing: antialiased;
      text-align: center;
    }
  }
  .login-form form {
    border: 1px solid #61c1b8;
    border-left-color: #ddd;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-radius: 5px;
    border-top-width: 6px;
    padding: 35px 35px 40px 35px;
    text-align: left;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    label {
      text-transform: uppercase;
      font-size: 11px;
    }
    input {
      box-shadow: none;
      min-height: 45px;
    }
    input:focus {
      /* border-color: #F38D1E; */
      border-color: #61c1b8;
    }
    .login {
      min-height: 45px;
      font-size: 16px;
      @include color-button(#61c1b8);
      padding-left: 15px;
      padding-right: 15px;
    }
    .login:hover {
      opacity: 0.9;
    }
    .login:focus {
      outline: 0;
    }
    .back-to-homepage {
      @include color-button(#72cd5f);
      color: #fff;
    }
    .back-to-homepage:hover {
      opacity: 0.9;
    }
  }
  .login-form .help-links {
    margin-top: 20px;
    text-align: center;
    color: #bbb;
    font-size: 17px;
    a:link, a:visited {
      color: #bbb;
    }
  }
}
