.app-container {
  .body {
    .shopper-account {
      .sidebar {
        .lead {
          color: #9dc626;
        }
      }
      .profile-information {
        .section {
          width: 55%;
          border: 1px solid #eee;
          @include border-radius(5px);
          padding: 20px;
          margin-bottom: 2em;
          .heading {
            margin: 0;
            margin-bottom: 20px;
            color: #61c1b8;
          }
          table {
            margin-bottom: 0;
            td {
              border-width: 0;
              font-size: 15px;
              .save-fullname-changes,
              .save-current-address-house-number-changes,
              .save-current-address-street-changes,
              .save-current-address-suburb-changes,
              .save-current-address-notes-changes,
              .save-telephone-changes {
                color: #61c1b8;
              }
              .cancel-fullname-edit,
              .cancel-current-address-house-number-edit,
              .cancel-current-address-street-edit,
              .cancel-current-address-suburb-edit,
              .cancel-current-address-notes-edit,
              .cancel-telephone-edit {
                color: #e25251;
              }
              textarea {
                border: 1px solid #d1d1d1;
              }
            }
          }
          .map {
            margin-bottom: 1em;
            #canvas {
              height: 170px;
              border: 1px solid #ddd;
              @include border-radius(5px);
            }
          }
        }
      }
    }
  }
}
